ul {
  list-style: none;
  gap: 10px;
  margin-bottom: 0 !important;
}

.navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* .navbar ul li a{
  position: relative;
  transition: 1s all ease;
} */

/* .navbar ul li:hover a {
  border-bottom: 1px solid red;
} */

@media screen and (max-width: 992px) {
  .menus {
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 350px;
    background-color: var(--main-red);
    top: 75px;
    border: 1px solid red;
    color: white;
    transition: height 0.5s;
    right: -15px;
    font-size: 30px;
  }

  .menus.show {
    height: calc(100vh - 70px) !important;
  }

  .menus ul {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 40px 30px;
  }

  .menus.show ul li,
  .menus.show ul li a {
    display: inline-block;
    width: 100%;
  }

  .menus a {
    color: white !important;
  }
}
@media screen and (max-width: 400px) {
  .menus {
    width: 100%;
  }
}
.nav_user_profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px rgb(231, 39, 39);
}
