@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-red: #fb544b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.color_red {
  color: var(--main-red);
}
.comman_btn {
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--main-red) !important;
  background-color: var(--main-red) !important;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  color: white !important;
  transition: all 1s;
  letter-spacing: 1px !important;
}
.white_btn {
  background-color: white !important;
  color: var(--main-red);
  transition: all 1s;
  letter-spacing: 1px !important;
}

.white_btn:hover {
  background-color: #fb544b !important;
  color: white !important;
}
.comman_btn:hover {
  color: #fb544b !important;
  background-color: white !important;
}
.big_text {
  font-size: 45px;
  color: rgb(2, 42, 129);
  font-weight: 500;
}
.bold_text {
  font-weight: bold;
}
.normal_text {
  font-size: 18px;
  color: rgb(14, 14, 38);
}
.blood_bg {
  background: linear-gradient(rgb(255 255 255 / 72%), rgb(255 255 255 / 40%)),
    url(../public/images/giving-blood-blood.gif);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.admin_hosp_bg {
  background: linear-gradient(rgb(255 255 255 / 72%), rgb(255 255 255 / 40%)),
    url(../public/images/giving-blood-blood.gif);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.request_bg {
  background: linear-gradient(rgb(0 0 0 / 51%), rgb(0 0 0 / 50%)),
    url(../public/images/request.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.blood_text {
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px dashed var(--main-red);
  display: inline-block;
  color: var(--main-red);
}

.blue_heading {
  font-size: 22px;
  font-weight: 600;
  color: rgb(2, 42, 129);
}
.blood_animate {
  width: 50px;
  height: 50px;
  animation: blood_drop 5s linear infinite;
}
@keyframes blood_drop {
  0% {
    top: 0%;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.1;
    top: 80%;
  }
}

.card_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  margin: 20px 0;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid var(--main-red);
}

.border_top {
  border: 2px solid var(--main-red);
  border-radius: 2px;
  width: 70px;
  animation: random 5s alternate-reverse linear infinite;
}

@keyframes random {
  0% {
    position: relative;
    left: 0%;
  }
  100% {
    position: relative;
    left: 20%;
  }
}

@media screen and (max-width: 500px) {
  .big_text {
    font-size: 32px;
  }
}

.errorText {
  font-size: 17px;
  font-weight: 500;
  color: red;
}
.compaign_bg {
  background: linear-gradient(rgb(255 247 255 / -10%), rgb(255 255 255 / -1%)),
    url(../public/images/compaing.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.about_bg {
  background: linear-gradient(rgb(0 0 0 / 51%), rgb(0 0 0 / 50%)),
    url(../public/images/become_donor.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.nav-tabs {
  font-size: 18px;
  font-weight: 500;
}

.nav-tabs {
  gap: 0 !important;
  transition: all 0.5s !important;
}

.nav-tabs a {
  color: black;
  background-color: white;
  transition: all 0.5s !important;
}

.nav-tabs .active {
  color: white !important;
  transition: all 0.5s !important;
  background-color: #ffcb43;
  background-image: linear-gradient(
    319deg,
    #ffd770 0%,
    #ff64258a 37%,
    #ff00168c 100%
  );
}

.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 40px 20px;
  border-radius: 10px;
}
/* .table-responsive .row {
  background: #fb544b;
  border: none;
  padding: 0;
  margin: 0;
}

.comman_table_design thead tr th {
  background-color: #fb544b;
  color: white;
  font-weight: normal;
  font-size: 15px;
  border: none;
} */
.comman_table_design {
  margin-top: 3.4rem !important;
}
.comman_table_design th {
  color: #007acc !important;
  background-color: #f2f2f2 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 15px 20px !important;
  border: 0;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.comman_table_design td {
  color: #000;
  font-size: 14px;
  padding: 15px 20px;
  border: 0;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #f2f2f2;
  white-space: nowrap;
}
.table > :not(:first-child) {
  border-top: 0;
}
.comman_table_design .table-responsive::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 50%;
}
.comman_table_design .table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.comman_table_design .table-responsive::-webkit-scrollbar-thumb {
  background: #007acc;
  border-radius: 50px;
}
.comman_table_design .table-responsive::-webkit-scrollbar-thumb {
  background: #007acc;
  border-radius: 50px;
}
.comman_table_design .table-responsive::-webkit-scrollbar-thumb:hover {
  background: #007acc;
}
.comman_table_design .mdb-datatable-filter {
  position: absolute !important;
  right: 18px !important;
  top: 7px;
}

.comman_table_design td {
  text-transform: capitalize !important;
}

.dataTables_wrapper > div:nth-child(2) > div:nth-child(1) {
  padding-bottom: 60px !important;
}

.dataTables_wrapper > div:nth-child(3) {
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.dataTables_paginate .pagination {
  gap: 0 !important;
}
.sr-only {
  display: none;
}
.dataTables_paginate {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.dataTables_wrapper .pagination-page.active span {
  display: none !important;
}

.pagination .page-item.active .page-link {
  color: #131111 !important;
  background-color: #f5f5ff !important;
  border-radius: 0.125rem;
  /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
  transition: all 0.2s linear;
}

div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem !important;
  font-weight: 400;
}
.dataTables_wrapper > div:nth-child(3) > div:nth-child(1) {
  position: absolute !important;
  width: 100% !important;
}

.bg_user_img {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.drop_menus {
  position: absolute;
  top: 67px;
  right: 0;
  padding: 0 30px;
  background: white;
  border: 1px solid;
  border-radius: 10px;
  font-size: 16px;
  text-wrap: nowrap;
}

.drop_menus a {
  display: inline-block;
  width: 100%;
}
.blood_details_span span {
  color: #fb544b;
  font-size: 17px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  padding: 9px 0;
}
.rounded_count {
  padding: 2px 10px;
  background: #ff2323b5;
  border-radius: 61%;
  color: white;
  margin-left: 10px;
}
.blood_cards img{
padding: 10px;
}
.blood_cards .title{
  font-size: 30px;
  font-weight: bold;
}
.blood_cards .desc{
  font-size: 14px;
}

@media screen and (max-width:600px) {
  .blood_cards .title{
    font-size: 20px;
    font-weight: bold;
  }
  .blood_cards .desc{
    font-size: 12px;
  }
}
.blood_cards .card_cont{
  transition: 1s all ease;
}

.blood_cards .card_cont:hover{
  background-color: #fb544b;
  color: white;
}

.style_ul {
  list-style: "»" !important;
  content: "»" !important;
}
.style_ul li{
  padding: 4px 0 !important;
}
.style_ul li a {
  margin-left: 20px !important;
  color: white !important;
  font-size: 16px;

  transition: 0.7s all ease;
}

.style_ul li a:hover {
  color: var(--main-red) !important;
}
nav .style_ul{
  padding-left: 12px !important;
}